{% extends "assets/genericasset_form.html" %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Heritage File{% endblock %}
{% block second_bar_secondary_title %}{{ object.name }}{% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        var current_nav_url = '{% url 'heritage:secureasset-dashboard' %}';
    </script>
{% endblock %}
