{% extends "base.html" %}
{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}Delete Sites{% endblock %}
{% block second_bar_secondary_title %}{{ object }} {% endblock %}
{% block second_bar_secondary_content_right %}
    <a class="waves-effect waves-light btn grey lighten-5 grey-text text-darken-2"
       {% if object.group %}
           href="{% url 'heritage:interview-detail' pk=object.group.interview.pk %}">
       {% else %}
           href="{% url 'heritage:gislayer-detail' pk=object.pk %}">
       {% endif %}
        <div class="valign-wrapper">
            <i class="material-icons valign ">cancel</i>
            &nbsp;Cancel
        </div>
    </a>
{% endblock %}


{% block content %}
    {{ block.super }}

    <div class="section">
        <div class="row">
            <div class="col s12">
                {% if object.group %}
                    <form action="{% url 'heritage:gislayer-delete' interview_pk=object.group.pk layergroup_pk=object.group.pk pk=object.pk %}" method="POST">
                {% else %}
                    <form action="{% url 'heritage:gislayer-delete-generic' pk=object.pk %}" method="POST">
                {% endif %}
                    {% csrf_token %}
                <p>Are you sure you want to delete <strong>{{ object }}</strong> and all it's {{ object.gisfeature_set.count }}
                    feature{{ object.gisfeature_set.count|pluralize }}?</p>
                    <input class="waves-effect waves-light btn grey lighten-4 red-text text-darken-1" type="submit" value="Confirm delete"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        {% if object.group %}
            var current_nav_url = '{% url "heritage:interviews" %}';
        {% else %}
            var current_nav_url = '{% url "heritage:gislayer-list" %}';
        {% endif %}
    </script>

{% endblock %}
