{% extends "base.html" %}
{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}
{% load cedar_settings %}
{% load crm %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Sites{% endblock %}
{% block second_bar_secondary_title %}{{ object.name }} {% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col s12">
            {% if form.fields.group.initial.interview %}
                <h5>Project footprint for {{ form.fields.group.initial.interview }}</h5>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'heritage/heritagegislayer_form_fields.html' with form=form %}
                <div class="row"></div>
                <div class="row">
                    <div class="col s12">

                    </div>
                </div>
                <div class="row"></div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        {% if object.group %}
            var current_nav_url = '{% url "heritage:interviews" %}';
        {% else %}
            var current_nav_url = '{% url "heritage:gislayer-list" %}';
        {% endif %}

        $(document).ready(function () {
            $('.datepicker').pickadate(
                {
                    selectYears: {{ 'cedar__default_datepicker_years'|get_setting }},
                    selectMonths: true,
                    format: 'yyyy-mm-dd',
                    max: new Date() //limits max date to today.
                }
            );
        });

    </script>
{% endblock %}
