{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load cedar_extras %}
{% load html_filters %}
{% load development %}

{# Note: {{ block.super }} must appear in the {% block content %} tag for the following to work. #}
{# Note: uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}{{ person }}{% endblock %}
{% block second_bar_secondary_title %}{{ person.roles.all|join:", " }}{% endblock %}
{% block second_bar_secondary_content_right %}
    <a class="waves-effect waves-light btn grey lighten-5 grey-text text-darken-2 {{ user|is_disabled:'crm.change_person' }}"
       href="{% url 'crm:person-update'  person.id %}">
        <div class="valign-wrapper">
            <i class="material-icons valign ">edit</i>
            &nbsp;Edit
        </div>
    </a>
    &nbsp;

{% endblock %}

{% block content %}
    {{ block.super }}
    <section>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="">
                    <div class="row">
                        <div class="col s12 center">
                            {% if person.pic %}
                                <div>
                                    <img class="materialboxed responsive-img person-pic" src="{{ person.pic|thumbnail_url:'detail' }}">
                                </div>
                            {% else %}
                                <img class="materialboxed responsive-img person-pic" src="{% static 'crm/img/trees_small.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="col s12 center">
                            <div class="grey-text text-lighten">
                                {{ person.organizations.all|join:", " }}.
                            </div>
                        </div>
                    </div>
                </div>
                {#                <h5>Tags</h5>#}
                {#                <div class="row">#}
                {#                    <div class="grey-text text-lighten">#}
                {#                    <div class="chip">Developer<i class="material-icons">close</i></div>#}
                {#                    <div class="chip">other tag<i class="material-icons">close</i></div>#}
                {#                    <div class="chip">other tag<i class="material-icons">close</i></div>#}
                {#                    <div class="chip">other tag<i class="material-icons">close</i></div>#}
                {#                    </div>#}
                {#                </div>#}
            <h5>Contact Info</h5>
                <div class="row">
                    <div class="col s6 m3 l3 grey-text text-lighten">
                        Email:
                    </div>
                    <div class="col s6 m9 l9 grey-text text-lighten">
                        <a href="mailto:http:{{ object.email }}">{{ object.email }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3 grey-text text-lighten">
                        Phone:
                    </div>
                    <div class="col s6 m9 l9 grey-text text-lighten">
                        {{ object.phone|default_if_none:'' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3 grey-text text-lighten">
                        Alt. Phone:
                    </div>
                    <div class="col s6 m9 l9 grey-text text-lighten">
                        {{ object.alt_phone|default_if_none:'' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3 grey-text text-lighten">
                        Address:
                    </div>
                    <div class="col s6 m9 l9 grey-text text-lighten">
                        {{ object.address|default_if_none:""|strip_html_wrap }}
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l8 thin-border-left-grey">
                <ul class="tabs hide-scroll-x">
                    <li class="tab col s3"><a class="active" href="#tab-details">Details</a></li>
                    <li class="tab col s3"><a href="#tab-notes">Notes</a></li>
                    {% if perms.heritage.view_interview %}
                        <li class="tab col s3"><a href="#tab-interviews">Interviews</a></li>
                    {% endif %}
                    <li class="tab col s3"><a href="#tab-dev-projects">Development Projects</a></li>
                </ul>
                <div id="tab-details" class="info-panel-height-max">
                    <div class="section">
                        <div class="row">
                            <div class="col s2">
                                <span class="grey-text text-darken-4"> Indigenous Names:</span>
                            </div>
                            <div class="col s10">
                                {{ person.indigenous_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s2">
                                <span class="grey-text text-darken-4"> Alternate Names:</span>
                            </div>
                            <div class="col s10">
                                {{ person.alternatename_set.all|join:", " }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s2">
                                <span class="grey-text text-darken-4"> Bio:</span>
                            </div>
                            <div class="col s10">
                                {{ person.bio|strip_html_wrap }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-notes" class="col s12">
                    {{ person.notes | strip_html_wrap }}
                </div>
                {% if perms.heritage.view_interview %}
                    <div id="tab-interviews" class="info-panel-height-max">
                        <div class="col s12 m3 m3">
                            <div id="con-horz">  {# Vertically oriented table controls. #}
                                <div id="search-box-input-field" class="input-field">
                                    {# <i class="material-icons prefix">search</i>#}
                                    <input id="search-box" type="text">
                                    <label for="search-box">Filter...</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m9 l9">
                            <table id="datatable" class="highlight">
                                <thead>
                                <tr>
                                    {% block table-head %}
                                        <th></th>
                                        <th>Project</th>
                                        <th>Interviewer Initials</th>
                                        <th>Interview Number</th>
                                    {% endblock %}
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                <div id="tab-dev-projects" class="col s12">
                    <div class="col s12">
                        {# Need to add the div manually.  The include tag is for adding the javascript. #}
                        <div id="project-table"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="divider"></div>

    <!-- Records -->
    <div class="row">
        <div class="col l6 m12 s12"></div>
        <div class="col l6 m12 s12"></div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col l6 m12 s12"></div>
        <div class="col l6 m12 s12"></div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        var interview_ajax_url = "{{ interview_ajax_url|escapejs }}";
        var enable_pagination = false;

        {#  pay attention to this table query url and the one for the interview. #}
        {#  I'm not sure I like the extra query parameter... maybe it's ok..     #}
        {#        var dev_project_ajax_url_filter_by_person =  "{{ dev_project_ajax_url_filter_by_person|escapejs }}";#}
        var dev_project_ajax_url = "{{ dev_project_ajax_url|escapejs }}";


    </script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-typewatch/jquery.typewatch.js' %}"></script>
    <script src='{% static 'lib/DataTables/datatables.js' %}'></script>
    <script src="{% static 'heritage/js/interviews.js' %}"></script>

    <script>
        current_nav_url = '{% url 'crm:person-list' %}';
    </script>

    {# TODO Refactor tables to use same libraries. #}
    {# For development projects table: #}
    {% development_project_list 'project-table' ajax_url=dev_project_ajax_url pager=0 search=0 show_filters=0 default_sort="-id" %}

{% endblock %}
