<li>
    <div class="collapsible-header">
        <a class="side-nav-app-header" href="{% url 'ecosystems:dashboard' %}">
            <i class="material-icons">nature_people</i>Ecosystems
        </a>
        <i class="collapsible-header-dropdown right material-icons ">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body">
        <ul>
            <li>
                <a class="blue-text text-darken-1" href="{% url 'ecosystems:project-list' %}">
                    <i class="material-icons left">work</i>Projects
                </a>
            </li>
            <li>
                <a class="blue-text text-darken-1" href="{% url 'ecosystems:gislayer-list' %}">
                    <i class="material-icons left">layers</i>Layers
                </a>
            </li>
            <li>
                <a class="blue-text text-darken-1" href="{% url 'ecosystems:secureasset-list' %}">
                    <i class="material-icons left">insert_drive_file</i>Files
                </a>
            </li>
        </ul>
    </div>
</li>
