{% extends "special_page_base.html" %}
{% load cedar_material_form %}

{%  block title %} Set New Cedar 8 Password {% endblock %}

{% block subtitle %}<div class="white-text"><h5>Set your new Cedar 8 password</h5></div> {% endblock %}

{%  block main_area %}
    <div>
    {% if validlink %}
        <p>Please enter your new password twice.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="row">
                {{ form.new_password1|materializecss }}
            </div>
            <div class="row">
                {{ form.new_password2|materializecss }}
            </div>
            <div class="row">
                <input class='btn-large waves-effect waves-light yellow darken-4 fat-button' type="submit" value="Save New Password" >
            </div>


        </form>
    {% else %}
        <div class="center">
            <h5>Password reset unsuccessful</h5>

            <p>The password reset link was invalid.</p>
            <p>Please request a new password reset.</p>

        </div>

    {% endif %}

    </div>
{% endblock %}