{% extends "special_page_base.html" %}
{% load cedar_material_form %}

{%  block title %} Password Reset Successful{% endblock %}

{% block subtitle %}
    <div class="white-text">
        <h5 >Your Cedar 8 password has been reset</h5>
{#        <span class="green-text text-lighten-1" style="padding-top: 55px;"><i class="small material-icons" >done</i></span>#}
    </div>
{% endblock %}

{%  block main_area %}
    <div class="center">
        <p>We've e-mailed you instructions for setting your password to the e-mail address you provided.</p>
        <br/>
        <p>You should be receiving it shortly.</p>
    </div>
{% endblock %}