{% extends "special_page_base.html" %}
{% load cedar_material_form %}
{% load cedar_settings %}

{%  block title %} Password Reset{% endblock %}

{% block subtitle %}<div class="white-text"><h5>Reset your Cedar 8 password </h5></div> {% endblock %}

{%  block main_area %}
    <div>
        <p class="center">Please enter your email address to receive further instructions.</p>

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
             {{ form.email.errors }}
            <p>
{#                <label for="id_email">E-mail address:</label> {{ form.email }} #}
{#                <input type="submit" value="Reset password" />#}
                {{ form.email|materializecss }}
            </p>
            <input class='btn-large waves-effect waves-light yellow darken-4 fat-button' type="submit" value="Reset password" >
        </form>
        <div class="center grey-text">
            <br/>
            <a class='right' target='_blank' href="{{ 'cedar__default_support_url'|get_setting }}" style="color:inherit;">Support Ticket</a>
            <br/>
        </div>
    </div>
{% endblock %}