{% load staticfiles %}
{% load cedar_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{{ protocol }}://{{ domain }}{% static 'css/cedarbox_icon_gry.png' %}"/>

    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    <link href="{{ protocol }}://{{ domain }}{% static 'css/cedar-material-icons.css' %}" rel="stylesheet"/>
    <link href="{{ protocol }}://{{ domain }}{% static 'lib/materialize/css/materialize.css' %}" rel="stylesheet"/>
    <link href="{{ protocol }}://{{ domain }}{% static 'css/cedar.css' %}" rel="stylesheet"/>



{#    If jquery is included here then child templates can import their own#}
{#    js with their own document ready functions#}
    <script src="{{ protocol }}://{{ domain }}{% static 'lib/jquery/jquery-1.11.3.js' %}"></script>

</head>
<body>

    <div class="splash-page-top-space">
        <div id="background-image"></div>
        <div id="login-title" class="row">
            <div class="col hide-on-small-only m2 l3">&nbsp;</div>
            <div class="col s12 m8 l6">
                <div class="card center blue darken-1 white-text text-lighten-5 home-center z-depth-3"
                style="padding-bottom: 10px;">
                    <div style="padding-top: 10px;">
                        <img src="cid:cedarbox_icon_gry.png" id="cedarbox-icon-white" style="vertical-align:middle; height: 40px; width: auto;">&nbsp;&nbsp;<h4 style="display: inline;">CedarBox Apps</h4>
                    </div>
                    {% block subtitle %}
                        <h5>Password Reset</h5>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grey-text text-darken-5">
                <div class="col hide-on-small-only m2 l3">&nbsp;</div>
                <div class="col s12 m8 l6">
                    <div class="card">
                        <div class="card-content">
                            {% block main_area %}
                                {% autoescape off %}
                                    <div class="row">
                                        You're receiving this e-mail because you requested a password reset for your user account.
{#                                        <br/>Your username: <h5>{{ user.username }}</h5>#}
                                    </div>
                                    {% block reset_link %}
                                        <div class="row center">
                                            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                                               class="btn-large waves-effect waves-light yellow darken-4">
                                                <strong>Choose New Password</strong>
                                            </a>
                                        </div>
                                    {% endblock %}
                                    <div class="row">
                                        <br/>
                                        Thanks for using CedarBox Apps!
                                        <br/><br/>
                                        The Cedar 8 team.
                                    </div>
                                {% endautoescape %}
                            {% endblock main_area %}
                        </div>
                    </div>
                </div>
                <div class="col hide-on-small-only m2 l3">&nbsp;</div>
            </div>
        </div>
    </div>


    <script src="{% static 'lib/materialize-src/js/bin/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
</body>
</html>
