{% extends "special_page_base.html" %}
{% load cedar_material_form %}

{%  block title %} Your New Cedar 8 Password Has Been Set{% endblock %}

{% block subtitle %}<div class="white-text"><h5>Password Reset Complete!</h5></div> {% endblock %}

{%  block main_area %}
    <div class="center">
        <br/>
        <h6>You may proceed to login with your new Cedar 8 password.</h6>
        <br/>
        <a href="{% url 'login' %}" class="btn-large waves-effect waves-light yellow darken-4 fat-button" type="submit" name="action" value="login">
            <strong>Go to login</strong>
        </a>
    </div>

{% endblock %}