{% extends "base.html" %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}Password{% endblock %}
{% block second_bar_secondary_title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block second_bar_secondary_content_right %}
    <a class="waves-effect waves-light btn grey lighten-5 grey-text text-darken-2"
       href="{% url 'user-settings' %}">
        <div class="valign-wrapper">
            <i class="material-icons">keyboard_return</i>
            &nbsp;Back to Setttings
        </div>
    </a>
{% endblock %}


{% block content %}
    {{ block.super }}
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <h5>Password successfully changed.</h5>
        </div>
    </div>

{% endblock %}
