{% extends "assets/genericasset_form.html" %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Development Project File{% endblock %}
{% block second_bar_secondary_title %}
    {% if object %}{{ object.name }} |{% endif %}
    Project file for {{ form.fields.project.initial }}
{% endblock %}

{% block form_fields %}
    {% include 'development/developmentprojectasset_form_fields.html' with form=form %}
{% endblock %}
