{% extends "base.html" %}

{% load staticfiles %}
{% load cedar_extras %}
{% load html_filters %}
{% load crm %}
{% load leaflet_assets %}
{% load development %}
{% load communication %}
{% load cedar_settings %}
{% load threadedcomments_tags %}
{% load discussion %}


{% block nav %}{% endblock %}
{%  block second_bar %}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% leaflet_assets_css %}
    <style>
        header, main, footer {
            padding-left: 20px;
            padding-right: 20px;
        }

    </style>

{% endblock %}

{% block content %}
{#    REDO TITLE AREA DUE TO WEIRNDESS IN PRINT RENDER#}

    <div class="row grey lighten-4">
        <div class="valign-wrapper">
            <div class="col s12">
                <div class="grey-text text-darken-2" style="display: inline-block"><h5>Development Project Details</h5></div>
                <div class="right grey-text text-lighten" style="display: inline-block; padding-top: 15px;"><h6>PRINTED {% now "SHORT_DATE_FORMAT" %}</h6></div>
                <div class="grey-text text-lighten"><h5>{{ object.cedar_project_name }}</h5></div>
            </div>
        </div>
    </div>

    {{ block.super }}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div>
                    <div id="tab-main" class="col s12 ">
                        <ul class="collection">
                            <li class="collection-item center">MAIN</li>
                        </ul>
                        <div class="row">
                            <div class="col s12 m4">
                                <strong>Project Code</strong>
                                <p class=" grey-text">{{ object.cedar_project_code }}</p>
                            </div>
                            <div class="col s12 m4">
                                <strong>Filing Code</strong>
                                <p class=" grey-text">{{ object.filing_code }}</p>
                            </div>
                            {% if object.fileno_set.all.exists %}
                            <div class="col s12 m4">
                                <strong>External File Number{{ object.fileno_set.all|pluralize }}</strong>
                                <p class="grey-text">
                                    {% for fileno in object.fileno_set.all %}
                                        {#                        {{ fileno.file_number }}#}
                                        <span class="grey-text lighten-1">{{ fileno.file_number }}</span>
                                        {% if fileno.organization %}
                                            ({{ fileno.organization.name }})
                                        {% else %}
                                            ({{ fileno.org_type|capfirst }})
                                        {% endif %}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col s12 m4">
                                <p>
                                    <strong>Project Status:&nbsp;&nbsp;&nbsp;</strong>
                                    {% if object.status == 'active' %}
                                        <span class="badge cedar-badge green white-text">Active</span>
                                    {% else %}
                                        <span class="badge cedar-badge grey darken-3 white-text">Inactive</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col s12 m8">
                                <p>
                                    <strong>Consultation Stage:&nbsp;&nbsp;&nbsp;</strong>
                                    <span class="grey-text lighten-1">{{ object.consultation_stage }}</span><br/>
                                </p>
                                <p>
                                    <strong>FN Final Decision:&nbsp;&nbsp;&nbsp;</strong>
                                    <span class="grey-text lighten-1">{{ object.final_decision|capfirst }}</span>
                                </p>
                                <p>
                                    <strong>Primary Authorization:&nbsp;&nbsp;&nbsp;</strong>
                                    <span class="grey-text lighten-1">
                                        {% get_choices_setting_value setting_name='development_project_primary_auth_choices' choice=object.primary_authorization as prim_auth %}
                                        {{ prim_auth|default:"Not specified" }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p><strong>People</strong></p>
                                <div class="col s4"><span>Nation Assessor{{ object.cedar_assessor.all|pluralize }}</span>
                                    {% for person in object.cedar_assessor.all %}
                                        <div class="grey-text lighten-1">
                                            <a href="{% url "crm:person-detail" pk=person.id %}">{{ person }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col s4"><span>Government Contact{{ object.government_contact.all|pluralize }}</span>
                                    {% for person in object.government_contact.all %}
                                        <div class="grey-text lighten-1">
                                            <a href="{% url "crm:person-detail" pk=person.id %}">{{ person }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col s4">
                                    {% if object.company %}
                                    <span>Company</span>
                                    <div>
                                        <a href="{% url "crm:organization-detail" pk=object.company.pk %}">{{ object.company }}</a>
                                    </div>
                                    <br/>
                                    {% endif %}
                                    <span>Company Contact{{ object.company_contact.all|pluralize }}</span>
                                    {% for person in object.company_contact.all %}
                                        <div class="grey-text lighten-1">
                                            <a href="{% url "crm:person-detail" pk=person.id %}">{{ person }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <strong>Tags</strong>
                                {% for tag in object.tags.all %}
                                <div class="chip">
                                    {{ tag }}
                                    {# <i class="material-icons">close</i>#}
                                </div>
                                {% endfor %}
                            </div>

                            <div class="col s12">
                                <p>
                                    <strong>Initial Contact Date:&nbsp;&nbsp;&nbsp;</strong>
                                    <span class=" grey-text pre">{{ object.initial_date| default:"Not specified" }}</span>
                                </p>
                                <p>
                                    <strong>Due Date:&nbsp;&nbsp;&nbsp;</strong>
                                    <span class=" grey-text pre">{{ object.due_date| default:"Not specified" }}</span>
                                </p>
                                {% for action in actions %}
                                    <p>
                                        <strong>{{ action.label }}:&nbsp;&nbsp;&nbsp;</strong>
                                        <span class=" grey-text pre">{{ action.date| default:"Not specified" }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p><strong>Project Description</strong></p>
                                <span class=" grey-text">{{ object.description|default_if_none:"Not specified"|strip_html_wrap }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p><strong>Rationale</strong></p>
                                <span class=" grey-text">{{ object.rationale|default_if_none:"Not specified"|strip_html_wrap }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p><strong>Location Description</strong></p>
                                <span class=" grey-text">{{ object.location_description|default_if_none:"Not specified"|strip_html_wrap }}</span>
                            </div>
                        </div>

                        {% for key in misc_textarea_fields %}
                            {% get_dict_val object.misc_textareas key as misc_textarea %}
                            {% if misc_textarea %}
                                <div class="row">
                                    <p><strong>{{ key }}</strong></p>
                                    <span class=" grey-text">{{ misc_textarea|default_if_none:"Not specified"|strip_html_wrap }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tab-location" class="col s12 print-avoid-page-break">
                        <ul class="collection">
                            <li class="collection-item center">LOCATION</li>
                        </ul>
                        <div class="section">
                            <div id="project-location-map"></div>
                        </div>
                    </div>
                    <div id="tab-files" class="col s12 print-avoid-page-break">
                        <ul class="collection">
                            <li class="collection-item center">FILES</li>
                        </ul>
                        <div id="assets-table">
                            <table class="highlight">
                                <tbody>
                                <th data-field="name">Filename</th>
                                <th data-field="type">Date Modified</th>
                                <th data-field="type">Size</th>
                                <th data-field="manage">Manage</th>
                                {% for asset in object.developmentprojectasset_set.all %}
                                    <tr>
                                        <td class="extra-tight-table-row"><a href="{{ asset.url }}">{{ asset.name }}</a></td>
                                        <td class="extra-tight-table-row">{{ asset.modified }}</td>
                                        <td class="extra-tight-table-row">{{ asset.file_size_str }}</td>
                                        <td class="extra-tight-table-row">
                                            <a class="waves-grey lighten-5 grey-text text-darken-1 tooltipped-secureasset-delete" href="
                                                {% url 'development:project-secureasset-delete' project_pk=object.id pk=asset.id %}
                                                " data-tooltip="Delete File" data-position="left">
                                                <i class="material-icons" style="font-size:inherit;">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="{{ 'communication__comm_items_panel_html_id'|get_setting|slice:"1:" }}" class="col s12 col s12 print-avoid-page-break">
                        <ul class="collection">
                            <li class="collection-item center">COMMUNICATIONS</li>
                        </ul>
                        {% render_communication_tools related_object=object element_id='comms_panel' include_toolbar=False loadall=True %}
                    </div>
                    <div id="{{ 'communication__disc_items_panel_html_id'|get_setting|slice:"1:" }}" class="col s12 col s12 print-avoid-page-break">
                        <ul class="collection">
                            <li class="collection-item center">DISCUSSION</li>
                        </ul>
                        {% render_comment_list for object %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var project_info_ajax_url = "{{ project_info_ajax_url }}";
        console.log("project: ", project_info_ajax_url);

    </script>
{% endblock content %}

{% block javascripts %}
    {% react %}
    {% react_dom %}

    {#    <script type="text/javascript" src="{% static 'build/heritage/js/project_detail.js' %}"></script>#}
    {# crm_person_list 'project_person_list' person_info_ajax_url pager=0 search=0 #}

    <script>
        var enable_pagination = false;
    </script>
    <script src='{% static 'lib/DataTables/datatables.js' %}'></script>

    <script>
        var current_nav_url = '{% url 'development:project-list' %}';

        $(document).ready(function (evt) {
            $('a.tooltipped-secureasset-delete').tooltip();
{#            window.print();#}
        });
    </script>

    {% leaflet_assets_js %}  {# Load the leaflet assets from the vendor #}
    {% leaflet_load_main %}  {# Load our main leaflet react class #}
    {% leaflet_map_json 'map_default' as map_settings_json %}  {# Load the template map as a starter #}

    {# Pass the template map and ajax url into the leaflet feature map code #}
    {% development_geoinfo_feature_map attach_id='project-location-map' map_settings=map_settings_json ajax_url=feature_ajax_url development_project=object %}
    <script>console.log("ajax_url:", "{{feature_ajax_url}}");</script>

    <script src="{% static 'js/print.js' %}"></script>
{% endblock %}
