{% load staticfiles %}
<link href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" rel="stylesheet"/>
<link href="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.css' %}" rel="stylesheet"/>
<link href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.css' %}" rel="stylesheet"/>
<link href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' %}" rel="stylesheet"/>
<link href="{% static 'maps/css/maps.css' %}" rel="stylesheet"/>
