{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/spin.js/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-spin/leaflet.spin.js' %}"></script>
<script type="text/javascript" src="{% static 'maps/js/map_styler.js' %}"></script>
