{% extends "base.html" %}
{#{% extends "cedar/table_narrow.html" %}#}

{% load staticfiles %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}Gmail IMAP authorization{% endblock %}
{% block second_bar_secondary_title %}{% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="content">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    Successfully authorized access to the gmail account: <strong>{{ email }}</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
