{% extends "base.html" %}
{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}
{% load cedar_settings %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Code Prefix{% endblock %}
{% block second_bar_secondary_title %}{{ object.name }} {% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}


{% block content %}
    {{ block.super }}
    <div class="section">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="row">

                {# DEVELOPMENT PROJECT FORM #}
                <div class="col s12 m10 l10">
                    {% csrf_token %}
                    <div style="display: block;">
                        {{ form.errors }}
                        <div id="div-mailboxes">
                            {{ form.mailboxes }}
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row tight-row">
                            {{ form.prefix|materializecss:"s12" }}
                        </div>
                        <div class="row tight-row">
                            {{ form.content_type|materializecss:"s12" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {# I think using this tag instead of an IF may save some space: #}
                    {% is_update_view "Update Code Prefix" "Create Code Prefix" as submit_value %}
                    <input class="waves-effect waves-light btn grey lighten-4 grey-text text-darken-1" type="submit" value="{{ submit_value }}"/>
                    {% if object %}
                        <a class="right waves-effect waves-light btn grey lighten-5 red-text text-darken-1 {{ user|is_disabled:'communication.delete_harvestcodeprefix' }}"
                           href="{% url 'communication:prefix-delete' object.pk %}">
                            <div class="valign-wrapper">
                                <i class="material-icons valign ">delete</i>
                                &nbsp;Delete Code Prefix
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row"></div>
        </form>

    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        var current_nav_url = '{% url 'development:project-list' %}';

        $(document).ready(function () {
            $('.datepicker').pickadate(
                {
                    selectYears: {{ 'cedar__default_datepicker_years'|get_setting }},
                    selectMonths: true,
                    format: 'yyyy-mm-dd',
                    max: new Date() //limits max date to today.
                }
            );
        });

    </script>


{% endblock %}
