{% extends "base.html" %}
{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Phone Call
{% endblock %}
{% block second_bar_secondary_title %}{{ object.name }} {% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}


{% block content %}
    {{ block.super }}
    <div class="section">
        <div class="row">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'communication/communication_form.html' %}

                <div style="display: none;">
                    {{ form.errors }}
                </div>
                <div class="col s12 m6">
                    {{ form.duration|materializecss }}
                </div>
                <div class="col s12">
                    {{ form.from_number|materializecss:"s6" }}
                    {{ form.to_number|materializecss:"s6" }}
                </div>
                <div class="col s12">
                    {{ form.notes|materializecss:"s12" }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var submit_spinner = $('.preloader-wrapper');
        var current_nav_url = '{% url "development:project-list" %}';
    </script>

{% endblock %}