{% extends "base.html" %}
{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}

{# Uncomment the next line to blankout/override the 2nd bar #}
{#{% block second_bar %}{% endblock %}#}
{% block second_bar_page_title %}
    {% is_update_view "Update" "New" as title_text %}
    {{ title_text }} Spatial Layer
{% endblock %}
{% block second_bar_secondary_title %}{{ object.name }} {% endblock %}
{% block second_bar_secondary_content_right %}{% endblock %}

{% block content %}
    {{ block.super }}
    {% is_update_view "Update" "New" as button_text %}

    <div class="section">
        <div class="row">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display:none;">
                    {{ form.errors }}
                </div>
                {% include 'geoinfo/gislayer_form_fields.html' with form=form %}

                <div class="col s12">
                    <input id="submit-layer"
                            class="waves-effect waves-light btn grey lighten-4 grey-text text-darken-1" type="submit"
                           value="{{ button_text }} Layer"/>

                    {% if object %}
                        <a class="right waves-effect waves-light btn grey lighten-5 red-text text-darken-1 {{ user|is_disabled:'geoinfo.delete_gislayer' }}"
                           href="
                            {% if object.get_delete_url %}
                                {{ object.get_delete_url }}
                            {% else %}
                                {% url 'geoinfo:layer-delete'  gislayer.id %}
                            {% endif %}">
                            <div class="valign-wrapper">
                                <i class="material-icons valign ">delete</i>
                                &nbsp;Delete Layer
                            </div>
                        </a>&nbsp;&nbsp;
                    {% endif %}
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var submit_spinner = $('.preloader-wrapper')
        {% if nav_url %}
            var current_nav_url = '{{ nav_url|safe }}';
        {% else %}
            var current_nav_url = '{% url "geoinfo:layer-list" %}';
        {% endif %}
        submit_spinner.css('visibility', 'hidden');

        $('#submit-layer').click(function(e) {
            submit_spinner.css('visibility', 'visible');
        });
    </script>

{% endblock %}
