{% load cedar_material_form %}
{% load staticfiles %}
{% load cedar_extras %}

{# gislayer_form_fields.html  has space #}
{# for subclassed GISLayer classes' templates to add form variables.#}

{#override additional_form_fields_1#}
{#and  additional_form_fields_2#}
{#to add more from fields in subclassed templates.#}

{#When included into a parent template, this form template requires#}
{#submitting the "form" variable.#}

{# this template should be included within <form> tags and doesn't include the submit button #}
{#    so that sub-template extender can define that text as they see fit.#}

<div class="row"></div>

<div class="row">
    <div id="distance-cap">
        {{ form.distance_cap|materializecss }}
    </div>
</div>
<div class="row"></div>
<div class="row">
    <div id="report-on" class="col s12">
        {{ form.layer|materialselect2 }}
    </div>

    {{ form.report.as_hidden }}
</div>

{% block additional_form_fields_2 %} {% endblock %}
